#grade-select{
    margin-left: 10px;
}

#lb-classroom{
    margin-left: 14px;
}

#classroom-select{
    margin-left: 10px;
}

#lb-num{
    margin-left: 14px;
}

#num{
    margin-left: 10px;
}
#lb-name{
    margin-left: 14px;
}

#name{
    margin-left: 10px;
}

#btn-search{
    margin-left: 12px;
}