<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pacemate.demo.dao.StudentDao"> <!-- Mapper의 FQCN을 namespace으로 한다. -->
    
    <insert id="insertStudentInfo">
        INSERT INTO STUDENT
        (
              GRADE
            , CLASS_ROOM
            , NUM
            , NAME 
            , SEAT_NUM
            , IS_OUT
        ) 
        VALUES 
        (
              #{grade}
            , #{classRoom}
            , #{num}
            , #{name}
            , #{seatNum}
            , #{isOut}
        )   
    </insert>
    
    <select id="retrieveAllStudent" resultType="com.pacemate.demo.domain.Student">
        SELECT    GRADE
                , CLASS_ROOM
                , NUM
                , NAME
                , SEAT_NUM
                , IS_OUT
        FROM    STUDENT
    </select>
</mapper>
